[collapsed="true"]:not([id^="tabcontext-tabHistory"]) + [id^="tabcontext-tabHistory-separator"],
[hidden="true"]:not([id^="tabcontext-tabHistory"]) + [id^="tabcontext-tabHistory-separator"],
[id^="tabcontext-tabHistory-separator"]:first-child {
  display: none;
}

#context-tabHistory-history [checked="true"],
#tabcontext-tabHistory-history [checked="true"] {
  list-style-image: url(chrome://global/skin/menu/menu-radio.gif);
  font-weight: bold;
}

